==
<?php
use RainLab\Translate\Classes\Translator;
function onStart()
{

    if (class_exists('RainLab\Translate\Classes\Translator')) {
        $translator = Translator::instance();
        $this['locale'] = $translator->getLocale();
    }
   
}
?>

==
<!-- Nav -->
<!--==========================
  Header
  ============================-->


    <div class="container">

        <div id="logo" class="pull-left">
            <a href="#">
                <img src="{{ 'assets/img/geo/Logo_DFM_2.png'|theme }} " alt="logo" title="" /></img>
            </a>
        </div>

        <nav id="nav-menu-container">

            <ul class="nav-menu">
            <li class="menu" id="geoMenu"><a href="#geosmartone">{{"GEOSMARTONE"|_}}</a></li>
            <li class="menu" ><a href="#innovation">{{"A PROPOS DE"|_}}</a></li>
            <li class="menu" ><a href="#fonctionnalite">{{"FONCTIONNALITES"|_}}</a></li>
            <li class="menu" ><a href="#notre-vision">{{"NOTRE VISION"|_}}</a></li>
            <li class="menu" ><a href="#information">{{"CONTACT"|_}}</a></li>



            <!-- <li> <img class="flag" id="vn" src="{{'assets/img/flags/vn.png'|theme}}" alt="vi-flag"> <img class="flag" id="us" src="{{'assets/img/flags/us.png'|theme}}" alt="us-flag"> <img class="flag" id="fr" src="{{'assets/img/flags/fr.png' |theme}}" alt="fr-flag">  </li> -->
            

            <!-- <li {% if locale=='vn' %} class="hidden" {% endif %} ><a href="#" data-request="onSwitchLocale" data-request-data="locale: 'vn'"><img width="100%" src="{{ 'assets/img/flags/vn.png'|theme }}" alt="vn"></a></li> -->
            
            <li {% if locale=='fr' %} class="hidden" {% endif %} ><a href="#" data-request="onSwitchLocale" data-request-data="locale: 'fr'"><img width="100%" src="{{ 'assets/img/flags/fr.png'|theme }}" alt="fr"></a></li>

            <li {% if locale=='en' %} class="hidden" {% endif %} ><a href="#" data-request="onSwitchLocale" data-request-data="locale: 'en'"><img width="100%" src="{{ 'assets/img/flags/us.png'|theme }}" alt="en"></a></li>





        </ul>

        </nav><!-- #nav-menu-container -->
    </div>



